.productPage__pres{
    display: flex;
    justify-content: space-around;
}

.productPage__title{
    color: red($color: #000000);
}


.tagBox{
background-color: #FF6060;
color: white;
border-radius: 0.625rem;
width: 7.1875rem;
height: 1.5625rem;


}