.productPage__pres{
    display: flex;
    justify-content: space-around;
}

.productPage__title{
    color: #FF6060
}

.productPage__title p{
    font-weight:500;
}


.tagBox{
background-color: #FF6060;
color: white;
border-radius: 0.625rem;
padding: 0.2em;
margin: 0.2em;


}


.productPage__rating{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

.host {
    display: flex;
    align-items: center;
}

.nom-hote {

    color: #FF6060;
    width: 3em;
}

.image-hote {
    width: 4rem;
    border-radius: 50%;
}

.bloc-logement-dropdown {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 2em;
}

.equipments__list {
visibility: visible;

color: red;
background-color: #f6f6f6;
display: flex;
flex-direction: column;
list-style-type: none;
}
.standard-box__logement{
    width: 40%;
    
}
