.DropDown_Boite{
    display: flex;
    position: relative;
    width: 63.9375rem;
    height: 30em;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 0.625rem 0.625rem 0.3125rem 0.3125rem;
    color: #F6F6F6;
    //background: var(--gray, #F6F6F6);

&__Barre {
    display: flex;
    justify-content: space-between;
    width: 63.9375rem;
    padding: 0.625rem 0.9375rem;
    align-items: center;
    position: absolute;
    border-radius: 0.3125rem;
    background: var(--red, #FF6060);
    cursor: pointer;


&__Fleche{
    transform: rotate(0deg);


&__Animated{
transform: rotate(180deg);

}




&__Toggle{
    position: relative;
    background-color: grey;
    bottom: -3.2em;
    height: 0px;
    font-size: 18px;
    opacity: 0;
    transition:  
    opacity 0.3s ease-in-out,
    height 0.3s 0.3s ease-in-out;
    color: #333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;



&__Animated{
    opacity: 1;
    transition:  
    height 0.3s ease-in-out,
    opacity 0.3s 0.3s ease-in-out;


&__Animated p{
    color: red;
}
}    
}
}
}
}